#clip{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#cliptitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#imgid{
    width: 200px;
}