#newscard{
    margin-top: 50px;
}

#clip{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#cliptitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}